body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#game {
  /* Adjust width and height as needed for your game */
  /* Additional styling for the game window */
}
